@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
    * {
        font-family: 'Trebuchet MS', sans-serif;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        @apply antialiased;
    }
}

@layer utilities {
    .flex-center {
        @apply flex items-center justify-center;
    }
}